- name: Deploy docker-deploy app locally with Docker
  hosts: local
  become: yes

  vars:
    app_name: docker-deploy
    repo_url: "git@github.com:naaakul/DevOps.git"
    base_dir: /var/www/DevOps
    app_dir: "{{ base_dir }}/docker-deploy"
    image_name: docker-deploy-image
    container_name: docker-deploy-container
    host_port: 3000

  tasks:
    - name: Install required packages
      apt:
        name:
          - docker.io
          - nginx
          - git
          - python3-docker
        state: present
        update_cache: yes

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Clone or update repo
      git:
        repo: "{{ repo_url }}"
        dest: "{{ base_dir }}"
        version: master
        force: yes

    - name: Build Docker image
      community.docker.docker_image:
        name: "{{ image_name }}"
        build:
          path: "{{ app_dir }}"
        source: build

    - name: Stop old container if exists
      community.docker.docker_container:
        name: "{{ container_name }}"
        state: stopped
      ignore_errors: yes

    - name: Remove old container
      community.docker.docker_container:
        name: "{{ container_name }}"
        state: absent
      ignore_errors: yes

    - name: Run new container
      community.docker.docker_container:
        name: "{{ container_name }}"
        image: "{{ image_name }}"
        state: started
        restart_policy: always
        published_ports:
          - "{{ host_port }}:3000"

    - name: Create Nginx config
      copy:
        dest: /etc/nginx/sites-available/docker-deploy
        content: |
          server {
              listen 80;
              server_name _;
              location / {
                  proxy_pass http://localhost:{{ host_port }};
                  proxy_http_version 1.1;
                  proxy_set_header Upgrade $http_upgrade;
                  proxy_set_header Connection 'upgrade';
                  proxy_set_header Host $host;
                  proxy_cache_bypass $http_upgrade;
              }
          }

    - name: Enable Nginx site
      file:
        src: /etc/nginx/sites-available/docker-deploy
        dest: /etc/nginx/sites-enabled/docker-deploy
        state: link
        force: yes

    - name: Reload Nginx
      service:
        name: nginx
        state: reloaded
